.game{
  display: block;
}
#col{
  display: block;
}
#result{
  display: none;
}
body,html, ul, li{
  background-color: beige;
}

.nav-wrapper{
  background-color: darkslategray;
}

.cheater {
    background-color: #cb4e4e !important;
    color: white;
}
